* {
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

.cart-container {
  text-align: center;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.products-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: smaller;
}

.product-img {
  height: auto;
  width:100%;
}

.product-img:first-of-type {
  margin-top: 60px;
}

.product-button {
  position: absolute;
}

.product-item {
  margin-bottom: 70px;
}

.product-title {
  margin-left: 15px;
  margin-top: 10px;
}

.close-cart {
  top: 0;
  left: 0;
  position: absolute;
}

.cart-title {
  margin-top: 6px;
}